.filters-sidebar {
  width: 160px; /* Fixed width for the sidebar */
  padding: 40px;
  padding-top: 100px;
  margin-left: 15vw;
  background: none;
  color: white;
}
.filters-sidebar h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.filters-sidebar div {
  margin-bottom: 35px;
}
.filters-sidebar label {
  display: inline;
  margin-bottom: 5px;
  transition: opacity 0.3s ease;
}
.filters-sidebar input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: white;
  outline: none;
  transition: opacity 0.3s ease;
}

.filters-sidebar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.filters-sidebar input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
}

.filters-sidebar input[type="checkbox"] {
  margin-right: 12px;
}

/* New styles for disabled profit filter */
.disabled-filter {
  opacity: 0.5 !important;
}